<!doctype html>
<html>
    <head>
        <title>Create blog post</title>
    </head>
    <body>
        <h1>Create new post</h1>
        <form action="" method="post">
            <div><label for="Title">Title</label>
            <input type="text" name="title" id="title" required="required"/>
            </div>
            <label for="content">Content</label>
            
            <p>
                <textarea name="content" id="content" cols="40" rows="8" 
                 class="span10"></textarea>
            </p>
            
            <div class="submit">
                <input type="submit" name="btn_submit" value="Save"/>
            </div>
        </form>
    </body>
</html>
