$def with (msg)

<!doctype html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    This is the login page.
    <p>$msg</p>
    <form action="/login" method="POST">
      <table id="login">
        <tr>
            <td>User: </td>
            <td><input type="text" name="user"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="passwd"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="LOGIN"></td>
        </tr>
      </table>
    </form>
    <form action="/logout" method="GET">
      <input type="submit" value="LOGOUT">
    </form>
  </body>
</html>
